# Your Sentry DSN (from your Sentry account)
VITE_SENTRY_DSN=

# Your Sentry organization (from your Sentry account)
VITE_SENTRY_ORG=

# Your Sentry project (from your Sentry account)
VITE_SENTRY_PROJECT=

# Your Sentry authentication token (from your Sentry account)
SENTRY_AUTH_TOKEN=
# Database URL for PostgreSQL
DATABASE_URL="postgresql://rdrama:rdrama@localhost:5432/rdrama"
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

REDIS_URL="redis://localhost:6379"
ELASTICSEARCH_URL="http://127.0.0.1:9200"
AUTH_BASE_URL="http://localhost:3000"
SMTP_HOST="127.0.0.1"
SMTP_PORT="1025"
SMTP_FROM="rDreamer <no-reply@localhost>"

VITE_RESULTS_PER_PAGE_COMMENTS=5000
